:root {
	--txt-clr: #425466;
	--clr-background: #f7f9fc;
	--btn-background-clr: #425466;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}

body {
	font-size: 14px;
}

a {
	text-decoration: none;
}

.btn:active {
	transform: scale(0.8);
}
.btn:hover {
	background-color: #4a5662;
}
